Repository ni3do/currico: changes, and which pre-commit hooks are due for each by the changed paths.
All: hadolint, prisma-format, eslint, typescript, docker-compose-check

.pre-commit-config.yaml:

repos:
  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        exclude: ^(\.next/|node_modules/)
      - id: check-yaml
      - id: check-json
        exclude: ^(\.next/|node_modules/|tsconfig\.json)
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: ['--branch', 'main']

  # Dockerfile linting (uses locally installed hadolint)
  - repo: local
    hooks:
      - id: hadolint
        name: Hadolint
        entry: hadolint --ignore DL3018 --ignore DL3059 --ignore DL3016
        language: system
        files: Dockerfile

  # Prisma schema formatting
  - repo: local
    hooks:
      - id: prisma-format
        name: Prisma format
        entry: npx prisma format
        language: system
        files: ^prisma/schema\.prisma$
        pass_filenames: false

      # ESLint for staged files
      - id: eslint
        name: ESLint
        entry: npx eslint --fix --max-warnings=0 --no-warn-ignored
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|mjs)$
        exclude: ^(\.next/|node_modules/|prisma/)

      # TypeScript type checking (uses tsconfig.check.json to exclude .next)
      - id: typescript
        name: TypeScript check
        entry: npx tsc --noEmit --project tsconfig.check.json
        language: system
        types: [file]
        files: \.(ts|tsx)$
        exclude: ^\.next/
        pass_filenames: false

      # Docker compose validation
      - id: docker-compose-check
        name: Docker Compose check
        entry: docker compose config --quiet
        language: system
        files: (docker-compose\.ya?ml|Dockerfile)$
        pass_filenames: false

fix: add missing database migrations for schema fields (#44)
  prisma/migrations/20260128230000_add_is_private_field/migration.sql
  prisma/migrations/20260128230100_add_notification_preferences/migration.sql
Due: none

fix: add missing proxy.ts to Docker build
  Dockerfile
Due: hadolint, docker-compose-check

chore: always run curriculum seeding on startup
  scripts/start.sh
Due: none

fix: add missing proxy.ts to Docker build (#45)
  Dockerfile
  scripts/start.sh
Due: hadolint, docker-compose-check

feat: add debug logging for payment webhook and download flow
  app/api/payments/create-checkout-session/route.ts
  app/api/payments/webhook/route.ts
  app/api/resources/[id]/download/route.ts
  lib/stripe.ts
Due: eslint, typescript

feat: add debug logging for payment webhook and download flow (#46)
  app/api/payments/create-checkout-session/route.ts
  app/api/payments/webhook/route.ts
  app/api/resources/[id]/download/route.ts
  lib/stripe.ts
Due: eslint, typescript

feat: switch email provider from Resend to Infomaniak SMTP (#21)
  .env.example
  lib/email.ts
  package-lock.json
  package.json
Due: eslint, typescript

Production readiness: cleanup seed data and add email verification (#26)
  app/[locale]/account/page.tsx
  app/[locale]/auth/verify-email/page.tsx
  lib/email.ts
  messages/de.json
  messages/en.json
  package.json
  prisma/bootstrap-admin.ts
  prisma/seed-curriculum.ts
  prisma/seed-files/sample-german-reading.pdf
  prisma/seed-files/sample-math-worksheet.pdf
  prisma/seed-files/sample-nmg-activity.pdf
  prisma/seed.ts
  scripts/create-test-resource.ts
  scripts/start.sh
  scripts/test-preview-generation.ts
  scripts/test-upload-api.ts
  scripts/test-upload-download-flow.ts
  scripts/test-upload-validation.ts
Due: eslint, typescript

fix: remove deleted seed.ts reference and fix email locale detection (#27)
  app/api/auth/send-verification/route.ts
  scripts/start.sh
Due: eslint, typescript

fix: force HTTPS for Stripe Connect redirect URLs in production (#31)
  app/api/seller/connect/route.ts
Due: eslint, typescript

feat: improve email verification UX (#29)
  app/[locale]/account/page.tsx
  app/[locale]/auth/verify-email/page.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: migrate Lehrplan 21 curriculum from static TS to database (#28)
  Dockerfile
  app/[locale]/resources/page.tsx
  app/api/curriculum/route.ts
  components/search/LP21FilterSidebar.tsx
  lib/curriculum-types.ts
  lib/data/lehrplan21.ts
  lib/hooks/useCurriculum.ts
  package.json
  prisma/seed-curriculum.ts
  scripts/start.sh
Due: hadolint, eslint, typescript, docker-compose-check

fix: use database as source of truth for subjects/cycles validation (#33)
  app/[locale]/account/page.tsx
  app/[locale]/profile/edit/page.tsx
  lib/validations/resource.ts
  lib/validations/user.ts
Due: eslint, typescript

fix: add card_payments capability to Stripe Connect accounts (#34)
  lib/stripe.ts
Due: eslint, typescript

Fix seller profile requirements and optimize Stripe Connect (#32)
  app/api/user/stats/route.ts
  app/api/users/me/route.ts
  lib/api.ts
  lib/stripe.ts
Due: eslint, typescript

fix: handle volume permissions for local file uploads in Docker (#35)
  Dockerfile
  scripts/entrypoint.sh
Due: hadolint, docker-compose-check

fix: wire up buy button to Stripe checkout flow (#37)
  app/[locale]/resources/[id]/page.tsx
Due: eslint, typescript

fix: add API route to serve local storage uploads (#36)
  app/api/uploads/[...path]/route.ts
  lib/storage/adapters/local.ts
Due: eslint, typescript

feat: enable dynamic payment methods for Stripe checkout (#39)
  app/api/payments/create-checkout-session/route.ts
  docker-compose.yml
  middleware.ts
Due: eslint, typescript, docker-compose-check

Add GitHub Actions workflow for Docker builds (#30)
  .github/workflows/docker.yml
Due: none

fix: Docker build missing @prisma/config dependencies (#42)
  Dockerfile
  package-lock.json
  package.json
Due: hadolint, docker-compose-check

perf: optimize Docker build with granular layer caching (#40)
  Dockerfile
  prisma/migrations/20260128220000_add_social_media_fields/migration.sql
Due: hadolint, docker-compose-check

fix: Docker build and automatic curriculum seeding (#41)
  Dockerfile
  prisma.config.ts
  prisma/seed.ts
  scripts/start.sh
Due: hadolint, eslint, typescript, docker-compose-check

fix: run Prisma migrations as root to fix permissions error (#43)
  scripts/entrypoint.sh
  scripts/start.sh
Due: none

feat: add premium micro-interactions, wishlist, and follow functionality
  app/[locale]/resources/page.tsx
  app/api/resources/route.ts
  app/globals.css
  components/search/LP21FilterSidebar.tsx
  components/ui/PageWrapper.tsx
  components/ui/ProfileCard.tsx
  components/ui/ResourceCard.tsx
  components/ui/animations.tsx
  package-lock.json
  package.json
  prisma.config.ts
Due: eslint, typescript

feat: add bundle viewing and enhanced search filtering
  app/[locale]/about/page.tsx
  app/[locale]/account/page.tsx
  app/[locale]/bundles/[id]/page.tsx
  app/[locale]/profile/page.tsx
  app/[locale]/resources/page.tsx
  app/api/bundles/[id]/route.ts
  app/api/seller/bundles/route.ts
  components/account/AccountSidebar.tsx
  components/search/LP21FilterSidebar.tsx
  components/ui/ProfileCard.tsx
  lib/search-query-parser.ts
  messages/de.json
  spec/features.md
Due: eslint, typescript

fix: return subject name instead of code for filter compatibility
  app/[locale]/resources/page.tsx
Due: eslint, typescript

feat: minor UI improvements with premium animations (#47)
  app/[locale]/resources/page.tsx
  app/api/resources/route.ts
  app/globals.css
  components/search/LP21FilterSidebar.tsx
  components/ui/PageWrapper.tsx
  components/ui/ProfileCard.tsx
  components/ui/ResourceCard.tsx
  components/ui/animations.tsx
  package-lock.json
  package.json
Due: eslint, typescript

test: update spec/2026-01-29-playwright-e2e-testing/plan.md, spec/index.md
  spec/2026-01-29-playwright-e2e-testing/plan.md
  spec/index.md
Due: none

feat: update 4 files
  .gitignore
  package-lock.json
  package.json
  spec/2026-01-29-playwright-e2e-testing/plan.md
Due: none

test: update spec/2026-01-29-playwright-e2e-testing/plan.md
  spec/2026-01-29-playwright-e2e-testing/plan.md
Due: none

test: update 6 files
  e2e/fixtures/.gitkeep
  e2e/tests/smoke.spec.ts
  e2e/utils/test-helpers.ts
  playwright.config.ts
  spec/2026-01-29-playwright-e2e-testing/plan.md
  vitest.config.ts
Due: eslint, typescript

feat: add bundle viewing and enhanced search filtering (#48)
  app/[locale]/account/page.tsx
  app/[locale]/bundles/[id]/page.tsx
  app/[locale]/profile/page.tsx
  app/[locale]/resources/page.tsx
  app/api/bundles/[id]/route.ts
  app/api/seller/bundles/route.ts
  components/account/AccountSidebar.tsx
  components/search/LP21FilterSidebar.tsx
  components/ui/ProfileCard.tsx
  lib/search-query-parser.ts
  messages/de.json
  spec/features.md
Due: eslint, typescript

test: update 6 files
  e2e/fixtures/auth.fixture.ts
  e2e/fixtures/seed-test-data.ts
  e2e/fixtures/test-users.ts
  e2e/global-setup.ts
  playwright.config.ts
  spec/2026-01-29-playwright-e2e-testing/plan.md
Due: eslint, typescript
