Repository ni3do/currico: changes, and which pre-commit hooks are due for each by the changed paths.
All: hadolint, prisma-format, eslint, typescript, docker-compose-check

hadolint:
  name: Hadolint
  entry: hadolint --ignore DL3018 --ignore DL3059 --ignore DL3016
  language: system

prisma-format:
  name: Prisma format
  entry: npx prisma format
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: npx eslint --fix --max-warnings=0 --no-warn-ignored
  language: system

typescript:
  name: TypeScript check
  entry: npx tsc --noEmit --project tsconfig.check.json
  language: system
  pass_filenames: false

docker-compose-check:
  name: Docker Compose check
  entry: docker compose config --quiet
  language: system
  pass_filenames: false

Add GitHub Actions workflow for Docker builds
  .github/workflows/docker.yml
Due: none

fix: force HTTPS for Stripe Connect redirect URLs in production
  app/api/seller/connect/route.ts
Due: eslint, typescript

fix: force HTTPS for Stripe Connect redirect URLs in production (#31)
  app/api/seller/connect/route.ts
Due: eslint, typescript

fix: update seller profile requirements and ensure JSON arrays are valid
  app/api/user/stats/route.ts
  app/api/users/me/route.ts
  lib/api.ts
Due: eslint, typescript

fix: optimize Stripe Connect for minimal seller KYC
  lib/stripe.ts
Due: eslint, typescript

Fix seller profile requirements and optimize Stripe Connect (#32)
  app/api/user/stats/route.ts
  app/api/users/me/route.ts
  lib/api.ts
  lib/stripe.ts
Due: eslint, typescript

fix: use database as source of truth for subjects/cycles validation
  app/[locale]/account/page.tsx
  app/[locale]/profile/edit/page.tsx
  lib/validations/resource.ts
  lib/validations/user.ts
Due: eslint, typescript

fix: use database as source of truth for subjects/cycles validation (#33)
  app/[locale]/account/page.tsx
  app/[locale]/profile/edit/page.tsx
  lib/validations/resource.ts
  lib/validations/user.ts
Due: eslint, typescript

fix: add card_payments capability to Stripe Connect accounts
  lib/stripe.ts
Due: eslint, typescript

fix: add card_payments capability to Stripe Connect accounts (#34)
  lib/stripe.ts
Due: eslint, typescript

fix: handle volume permissions for local file uploads in Docker
  Dockerfile
  scripts/entrypoint.sh
Due: hadolint, docker-compose-check

fix: handle volume permissions for local file uploads in Docker (#35)
  Dockerfile
  scripts/entrypoint.sh
Due: hadolint, docker-compose-check

fix: add API route to serve local storage uploads
  app/api/uploads/[...path]/route.ts
  lib/storage/adapters/local.ts
Due: eslint, typescript

fix: add API route to serve local storage uploads (#36)
  app/api/uploads/[...path]/route.ts
  lib/storage/adapters/local.ts
Due: eslint, typescript

fix: wire up buy button to Stripe checkout flow
  app/[locale]/resources/[id]/page.tsx
Due: eslint, typescript

fix: wire up buy button to Stripe checkout flow (#37)
  app/[locale]/resources/[id]/page.tsx
Due: eslint, typescript

refactor: align Lehrplan 21 data structure with official curriculum
  lib/data/lehrplan21.ts
Due: eslint, typescript

feat: add notification preferences, welcome guide, and profile enhancements
  __tests__/storage/index.test.ts
  app/[locale]/account/page.tsx
  app/[locale]/profile/[id]/page.tsx
  app/[locale]/profile/edit/page.tsx
  app/[locale]/resources/page.tsx
  app/[locale]/upload/bundle/page.tsx
  app/[locale]/upload/page.tsx
  app/api/curriculum/route.ts
  app/api/user/stats/route.ts
  app/api/users/[id]/public/route.ts
  app/api/users/me/notifications/route.ts
  app/api/users/me/route.ts
  app/globals.css
  components/account/AccountSidebar.tsx
  components/account/ProfileCompletionProgress.tsx
  components/account/WelcomeGuide.tsx
  components/search/LP21FilterSidebar.tsx
  components/ui/TopBar.tsx
  lib/curriculum-types.ts
  lib/db.ts
  lib/validations/user.ts
  messages/de.json
  messages/en.json
  package-lock.json
  package.json
  prisma.config.ts
  prisma/schema.prisma
  spec/design-system.md
Due: prisma-format, eslint, typescript

refactor: consolidate duplicate code and remove unused dependency
  components/search/LP21FilterSidebar.tsx
  components/ui/DashboardResourceCard.tsx
  components/ui/ProfileCard.tsx
  components/ui/ResourceCard.tsx
  components/ui/TopBar.tsx
  lib/constants/subject-colors.ts
  lib/constants/subject-icons.ts
  lib/hooks/useCurriculum.ts
  package-lock.json
  package.json
Due: eslint, typescript

chore: update branding, UI improvements, and configuration updates
  .claude/commands/add-test-user.md
  .env.example
  .husky/pre-push
  CLAUDE.md
  OBSERVABILITY_IMPLEMENTATION.md
  README.md
  app/[locale]/about/page.tsx
  app/[locale]/contact/ContactClient.tsx
  app/[locale]/resources/page.tsx
  app/globals.css
  app/layout.tsx
  components/account/WelcomeGuide.tsx
  docker-compose.monitoring.yml
  docker-compose.yml
  docs/DEVELOPMENT_ENV.md
  docs/PRODUCTION_ENV.md
  instrumentation.ts
  lib/data/lehrplan21.ts
  lib/email.ts
  messages/de.json
  messages/en.json
  monitoring/prometheus.yml
  prisma/cleanup-and-reseed-curriculum.ts
  prisma/schema.prisma
  spec/cost-analysis.md
  spec/i18n-plan.md
  spec/index.md
  spec/oauth-integration.md
  spec/observability-plan.md
  spec/roadmap.md
  spec/s3-storage.md
  spec/stripe-connect-architecture.md
  spec/stripe-connect-implementation-plan.md
Due: prisma-format, eslint, typescript, docker-compose-check

feat: add URL-based filter state and improve filter sidebar UX
  app/[locale]/resources/page.tsx
  components/search/LP21FilterSidebar.tsx
  package-lock.json
Due: eslint, typescript

Add GitHub Actions workflow for Docker builds (#30)
  .github/workflows/docker.yml
Due: none

refactor: consolidate curriculum data to flow through database only
  components/search/LP21FilterSidebar.tsx
  components/ui/TopBar.tsx
  lib/data/lehrplan21.ts
  lib/hooks/useCurriculum.ts
  prisma/seed-curriculum.ts
Due: eslint, typescript

fix: add locale middleware for Stripe checkout redirect routing
  .env.example
  app/api/payments/webhook/route.ts
  middleware.ts
Due: eslint, typescript

feat: enable dynamic payment methods for Stripe checkout
  app/api/payments/create-checkout-session/route.ts
Due: eslint, typescript

chore: add NEXT_PUBLIC_APP_URL env var and remove middleware
  docker-compose.yml
  middleware.ts
Due: eslint, typescript, docker-compose-check

feat: enable dynamic payment methods for Stripe checkout (#39)
  app/api/payments/create-checkout-session/route.ts
  docker-compose.yml
  middleware.ts
Due: eslint, typescript, docker-compose-check

fix: add missing migration for social media fields
  prisma/migrations/20260128220000_add_social_media_fields/migration.sql
Due: none

perf: optimize Docker build with granular layer caching
  Dockerfile
Due: hadolint, docker-compose-check

perf: optimize Docker build with granular layer caching (#40)
  Dockerfile
  prisma/migrations/20260128220000_add_social_media_fields/migration.sql
Due: hadolint, docker-compose-check

fix: copy node_modules/.bin for CLI tools in Docker image
  Dockerfile
Due: hadolint, docker-compose-check

fix: add automatic curriculum seeding on startup
  prisma.config.ts
  prisma/seed.ts
  scripts/start.sh
Due: eslint, typescript

fix: Docker build and automatic curriculum seeding (#41)
  Dockerfile
  prisma.config.ts
  prisma/seed.ts
  scripts/start.sh
Due: hadolint, eslint, typescript, docker-compose-check

fix: Docker build missing @prisma/config dependencies
  Dockerfile
  package-lock.json
  package.json
Due: hadolint, docker-compose-check

fix: Docker build missing @prisma/config dependencies (#42)
  Dockerfile
  package-lock.json
  package.json
Due: hadolint, docker-compose-check

fix: run Prisma migrations as root to fix permissions error
  scripts/entrypoint.sh
  scripts/start.sh
Due: none

fix: run Prisma migrations as root to fix permissions error (#43)
  scripts/entrypoint.sh
  scripts/start.sh
Due: none

fix: add missing is_private column migration
  prisma/migrations/20260128230000_add_is_private_field/migration.sql
Due: none

fix: add missing database migrations for schema fields
  prisma/migrations/20260128230000_add_is_private_field/migration.sql
  prisma/migrations/20260128230100_add_notification_preferences/migration.sql
Due: none

Path conditions:
  hadolint: any of: Dockerfile
  prisma-format: any of: ^prisma/schema\.prisma$
  eslint: any of: \.(js|jsx|ts|tsx|mjs)$, but not: ^(\.next/|node_modules/|prisma/)
  typescript: any of: \.(ts|tsx)$, but not: ^\.next/
  docker-compose-check: any of: (docker-compose\.ya?ml|Dockerfile)$
