Repository ni3do/currico: changes, and which pre-commit hooks are due for each by the changed paths.
All: hadolint, prisma-format, eslint, typescript, docker-compose-check

hadolint:
  name: Hadolint
  entry: hadolint --ignore DL3018 --ignore DL3059 --ignore DL3016
  language: system

prisma-format:
  name: Prisma format
  entry: npx prisma format
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: npx eslint --fix --max-warnings=0 --no-warn-ignored
  language: system

typescript:
  name: TypeScript check
  entry: npx tsc --noEmit --project tsconfig.check.json
  language: system
  pass_filenames: false

docker-compose-check:
  name: Docker Compose check
  entry: docker compose config --quiet
  language: system
  pass_filenames: false

ci: add Prisma migration drift check
  .github/workflows/ci.yml
Due: none

fix: add missing migration for preview_urls and social features (#63)
  .github/workflows/ci.yml
  prisma/migrations/20260204191734_add_preview_urls/migration.sql
Due: none

fix: prevent topbar layout shift and hero bubble z-index issue
  app/globals.css
Due: none

fix: prevent topbar layout shift and hero bubble z-index issue (#64)
  app/globals.css
Due: none

feat: enhance legal pages with comprehensive Swiss law compliance
  app/[locale]/impressum/page.tsx
  app/[locale]/privacy/page.tsx
  app/[locale]/terms/page.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: enhance UI with Swiss brand identity and animated hero
  app/[locale]/about/page.tsx
  app/[locale]/admin/documents/page.tsx
  app/[locale]/contact/ContactClient.tsx
  app/[locale]/page.tsx
  app/api/resources/route.ts
  app/globals.css
  app/layout.tsx
  components/search/LP21FilterSidebar.tsx
  components/ui/Footer.tsx
  components/ui/animations.tsx
  lib/utils/preview-generator.ts
  messages/de.json
  messages/en.json
Due: eslint, typescript

refactor: extract homepage sections into reusable components
  app/[locale]/about/page.tsx
  app/[locale]/page.tsx
  app/[locale]/upload/page.tsx
  app/globals.css
  components/ui/CategoryQuickAccess.tsx
  components/ui/SwissBrandSection.tsx
  components/ui/TestimonialsSection.tsx
  components/ui/TrustBar.tsx
  components/ui/ValueProposition.tsx
  components/upload/StepNavigationBar.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

fix: resolve ESLint errors for setState in useEffect
  components/upload/EnhancedCurriculumSelector.tsx
Due: eslint, typescript

feat: enhance legal pages with comprehensive Swiss law compliance (#65)
  app/[locale]/impressum/page.tsx
  app/[locale]/privacy/page.tsx
  app/[locale]/terms/page.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

revert: restore seed-test-data.ts to main version
  e2e/fixtures/seed-test-data.ts
Due: eslint, typescript

fix: add PostgreSQL service to CI for Prisma migration check
  .github/workflows/ci.yml
Due: none

fix: create shadow database before Prisma migration diff in CI
  .github/workflows/ci.yml
Due: none

feat: UI enhancements with Swiss brand identity and legal compliance (#66)
  .github/workflows/ci.yml
  app/[locale]/about/page.tsx
Due: eslint, typescript

feat: add theme toggle, language switcher, and comprehensive i18n support
  app/[locale]/admin/documents/page.tsx
  app/[locale]/admin/layout.tsx
  app/[locale]/admin/messages/page.tsx
  app/[locale]/admin/page.tsx
  app/[locale]/admin/reports/page.tsx
  app/[locale]/admin/settings/page.tsx
  app/[locale]/admin/transactions/page.tsx
  app/[locale]/admin/users/page.tsx
  app/[locale]/bundles/[id]/page.tsx
  app/[locale]/collections/page.tsx
  app/[locale]/following/page.tsx
  components/admin/AdminSidebar.tsx
  components/ui/TopBar.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: add skeleton loaders, grid/list toggle, accessibility improvements
  app/[locale]/admin/documents/page.tsx
  app/[locale]/admin/messages/page.tsx
  app/[locale]/admin/page.tsx
  app/[locale]/admin/reports/page.tsx
  app/[locale]/admin/users/page.tsx
  app/[locale]/error.tsx
  app/[locale]/layout.tsx
  app/[locale]/materialien/page.tsx
  app/global-error.tsx
  components/ui/MaterialCard.tsx
  components/ui/Skeleton.tsx
  components/ui/SkipToContent.tsx
  components/ui/TopBar.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: add toast notifications, SEO metadata, and modal focus management
  app/[locale]/about/layout.tsx
  app/[locale]/admin/documents/page.tsx
  app/[locale]/admin/messages/page.tsx
  app/[locale]/admin/reports/page.tsx
  app/[locale]/admin/users/page.tsx
  app/[locale]/collections/page.tsx
  app/[locale]/contact/layout.tsx
  app/[locale]/layout.tsx
  app/[locale]/materialien/[id]/layout.tsx
  app/[locale]/materialien/[id]/page.tsx
  app/[locale]/materialien/layout.tsx
  app/[locale]/materialien/page.tsx
  app/layout.tsx
  app/providers.tsx
  components/ui/FocusTrap.tsx
  components/ui/Toast.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: mobile filter drawer, filter chips, optimistic wishlist, toast improvements
  .env.example
  app/[locale]/account/loading.tsx
  app/[locale]/login/loading.tsx
  app/[locale]/materialien/loading.tsx
  app/[locale]/materialien/page.tsx
  components/ui/EmptyState.tsx
  components/ui/MaterialCard.tsx
  components/ui/Toast.tsx
  components/ui/TopBar.tsx
  lib/stripe.ts
Due: eslint, typescript

feat: UI polish - filters, toasts, a11y, and i18n (#68)
  .env.example
  app/[locale]/about/layout.tsx
  app/[locale]/account/loading.tsx
  app/[locale]/admin/documents/page.tsx
  app/[locale]/admin/layout.tsx
  app/[locale]/admin/messages/page.tsx
  app/[locale]/admin/page.tsx
  app/[locale]/admin/reports/page.tsx
  app/[locale]/admin/settings/page.tsx
  app/[locale]/admin/transactions/page.tsx
  app/[locale]/admin/users/page.tsx
  app/[locale]/bundles/[id]/page.tsx
  app/[locale]/collections/page.tsx
  app/[locale]/contact/layout.tsx
  app/[locale]/error.tsx
  app/[locale]/following/page.tsx
  app/[locale]/layout.tsx
  app/[locale]/login/loading.tsx
  app/[locale]/materialien/[id]/layout.tsx
  app/[locale]/materialien/[id]/page.tsx
  app/[locale]/materialien/layout.tsx
  app/[locale]/materialien/loading.tsx
  app/[locale]/materialien/page.tsx
  app/global-error.tsx
  app/layout.tsx
  app/providers.tsx
  components/admin/AdminSidebar.tsx
  components/ui/EmptyState.tsx
  components/ui/FocusTrap.tsx
  components/ui/MaterialCard.tsx
  components/ui/Skeleton.tsx
  components/ui/SkipToContent.tsx
  components/ui/Toast.tsx
  components/ui/TopBar.tsx
  lib/stripe.ts
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: account page refactor, upload UX improvements, and server-side drafts
  app/[locale]/account/bundles/page.tsx
  app/[locale]/account/comments/page.tsx
  app/[locale]/account/layout.tsx
  app/[locale]/account/library/page.tsx
  app/[locale]/account/page.tsx
  app/[locale]/account/settings/account/page.tsx
  app/[locale]/account/settings/appearance/page.tsx
  app/[locale]/account/settings/notifications/page.tsx
  app/[locale]/account/settings/page.tsx
  app/[locale]/account/uploads/page.tsx
  app/[locale]/account/wishlist/page.tsx
  app/[locale]/upload/page.tsx
  app/api/drafts/[id]/route.ts
  app/api/drafts/route.ts
  components/account/AccountSidebar.tsx
  components/account/DeleteConfirmDialog.tsx
  components/ui/DashboardMaterialCard.tsx
  components/upload/DraftIndicator.tsx
  components/upload/FormField.tsx
  components/upload/InfoTooltip.tsx
  components/upload/UploadWizardContext.tsx
  lib/hooks/useAccountData.ts
  lib/types/account.ts
  messages/de.json
  messages/en.json
  prisma/schema.prisma
  spec/ui-improvements.md
Due: prisma-format, eslint, typescript

feat: add comprehensive copyright guide page with Swiss legal basis
  app/[locale]/become-seller/page.tsx
  app/[locale]/terms/page.tsx
  app/[locale]/upload/page.tsx
  app/[locale]/urheberrecht/layout.tsx
  app/[locale]/urheberrecht/page.tsx
  components/ui/Footer.tsx
  messages/de.json
  messages/en.json
  spec/roadmap.md
Due: eslint, typescript

fix: resolve hydration mismatch, 401 draft errors, and missing favicon
  app/icon.svg
  components/upload/DraftIndicator.tsx
  components/upload/UploadWizardContext.tsx
Due: eslint, typescript

feat: fix FAQ tabs, add upload auth gate, and update help page
  app/[locale]/hilfe/page.tsx
  app/[locale]/upload/page.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: add seller reward level system with review/rating bonus
  app/[locale]/account/page.tsx
  app/[locale]/seller-levels/layout.tsx
  app/[locale]/seller-levels/page.tsx
  app/api/seller/level/route.ts
  app/api/user/stats/route.ts
  components/account/AccountSidebar.tsx
  components/account/SellerLevelCard.tsx
  components/ui/Footer.tsx
  components/ui/SellerBadge.tsx
  lib/types/account.ts
  lib/utils/seller-levels.ts
  messages/de.json
  messages/en.json
  prisma/schema.prisma
Due: prisma-format, eslint, typescript

chore: remove edu-ID OAuth login provider
  .env.example
  app/[locale]/login/page.tsx
  app/[locale]/register/page.tsx
  lib/auth.ts
  messages/de.json
  messages/en.json
  public/eduid-logo.svg
Due: eslint, typescript

chore: remove edu-ID OAuth login provider (#69)
  .env.example
  app/[locale]/login/page.tsx
  app/[locale]/register/page.tsx
  lib/auth.ts
  messages/de.json
  messages/en.json
  public/eduid-logo.svg
Due: eslint, typescript

refactor: remove server-side draft saving, keep localStorage only
  app/api/drafts/[id]/route.ts
  app/api/drafts/route.ts
  components/upload/DraftIndicator.tsx
  components/upload/UploadWizardContext.tsx
  prisma/migrations/20260209000000_add_seller_levels_verified_seller_dialect_drafts/migration.sql
  prisma/schema.prisma
Due: prisma-format, eslint, typescript

chore: add improvement notes and console error logs
  Joelimprovements.md
  console-errors.log
Due: none

chore: add improvement notes and console error logs (#72)
  Joelimprovements.md
  console-errors.log
Due: none

feat: improve search UX, simplify pages, and strengthen legal transparency
  app/[locale]/cookies/page.tsx
  app/[locale]/hilfe/page.tsx
  app/[locale]/materialien/page.tsx
  app/[locale]/page.tsx
  app/[locale]/terms/page.tsx
  app/[locale]/urheberrecht/page.tsx
  app/globals.css
  components/search/LP21FilterSidebar.tsx
  components/ui/EmptySearchState.tsx
  components/ui/MaterialCard.tsx
  components/ui/ProfileCard.tsx
  components/ui/TrustBar.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: improve search UX, simplify pages, and strengthen legal transparency (#73)
  app/[locale]/cookies/page.tsx
  app/[locale]/hilfe/page.tsx
  app/[locale]/materialien/page.tsx
  app/[locale]/page.tsx
  app/[locale]/terms/page.tsx
  app/[locale]/urheberrecht/page.tsx
  app/globals.css
  components/search/LP21FilterSidebar.tsx
  components/ui/EmptySearchState.tsx
  components/ui/MaterialCard.tsx
  components/ui/ProfileCard.tsx
  components/ui/TrustBar.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

docs: reorganize improvements by page and add detailed code analysis
  Joelimprovements.md
  joelimprovements-status.md
Due: none

docs: merge addon items into improvements status tracker
  joelimprovements-status.md
Due: none

Path conditions:
  hadolint: any of: Dockerfile
  prisma-format: any of: ^prisma/schema\.prisma$
  eslint: any of: \.(js|jsx|ts|tsx|mjs)$, but not: ^(\.next/|node_modules/|prisma/)
  typescript: any of: \.(ts|tsx)$, but not: ^\.next/
  docker-compose-check: any of: (docker-compose\.ya?ml|Dockerfile)$
