Repository ni3do/currico: changes, and which pre-commit hooks are due for each by the changed paths.
All: hadolint, prisma-format, eslint, typescript, docker-compose-check

hadolint:
  name: Hadolint
  entry: hadolint --ignore DL3018 --ignore DL3059 --ignore DL3016
  language: system

prisma-format:
  name: Prisma format
  entry: npx prisma format
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: npx eslint --fix --max-warnings=0 --no-warn-ignored
  language: system

typescript:
  name: TypeScript check
  entry: npx tsc --noEmit --project tsconfig.check.json
  language: system
  pass_filenames: false

docker-compose-check:
  name: Docker Compose check
  entry: docker compose config --quiet
  language: system
  pass_filenames: false

style: change commission badge color to blue in seller hero section
  components/ui/SellerHeroSection.tsx
Due: eslint, typescript

style: reduce gap between top bar and hero section
  app/[locale]/page.tsx
Due: eslint, typescript

feat: add user profiles, following system, and collections
  app/[locale]/account/page.tsx
  app/[locale]/collections/page.tsx
  app/[locale]/following/page.tsx
  app/[locale]/page.tsx
  app/[locale]/profile/[id]/page.tsx
  app/[locale]/resources/page.tsx
  app/api/collections/[id]/items/route.ts
  app/api/collections/[id]/route.ts
  app/api/collections/route.ts
  app/api/users/[id]/collections/route.ts
  app/api/users/[id]/follow/route.ts
  app/api/users/[id]/public/route.ts
  app/api/users/[id]/resources/route.ts
  app/api/users/search/route.ts
  app/globals.css
  components/account/AccountSidebar.tsx
  components/ui/CookieConsent.tsx
  components/ui/Footer.tsx
  components/ui/SellerHeroSection.tsx
  components/ui/TopBar.tsx
  components/ui/animations.tsx
  messages/de.json
  messages/en.json
  package-lock.json
  package.json
  prisma/schema.prisma
Due: prisma-format, eslint, typescript

refactor: remove commission settings from admin page
  app/[locale]/admin/settings/page.tsx
Due: eslint, typescript

style: improve responsive layouts and redesign settings page
  app/[locale]/about/page.tsx
  app/[locale]/account/page.tsx
  app/[locale]/resources/page.tsx
  components/ui/CookieConsent.tsx
  components/ui/Footer.tsx
Due: eslint, typescript

feat: add cookies page and redesign founders section
  app/[locale]/about/page.tsx
  app/[locale]/cookies/page.tsx
  components/ui/Footer.tsx
  messages/de.json
  messages/en.json
  spec/roadmap.md
Due: eslint, typescript

Rename project from Easy-Lehrer to Currico
  .claude/commands/add-test-user.md
  .env.example
  .husky/pre-push
  CLAUDE.md
  README.md
  app/[locale]/contact/page.tsx
  app/globals.css
  app/layout.tsx
  docker-compose.yml
  messages/de.json
  messages/en.json
  package-lock.json
  package.json
  prisma/schema.prisma
  prisma/seed-curriculum.ts
  prisma/seed.ts
  spec/i18n-plan.md
  spec/index.md
  spec/oauth-integration.md
  spec/observability-plan.md
  spec/roadmap.md
  spec/stripe-connect-architecture.md
  spec/stripe-connect-implementation-plan.md
Due: prisma-format, eslint, typescript, docker-compose-check

fix: sync package-lock.json with package.json
  package-lock.json
Due: none

refresh package lock
  package-lock.json
Due: none

feat: add report resource functionality
  app/[locale]/resources/[id]/page.tsx
  app/api/reports/route.ts
Due: eslint, typescript

feat: add report resource functionality (#19)
  app/[locale]/resources/[id]/page.tsx
  app/api/reports/route.ts
Due: eslint, typescript

refactor: remove unnecessary personal data fields from database
  app/[locale]/admin/users/page.tsx
  app/[locale]/profile/edit/page.tsx
  app/api/seller/resources/route.ts
  components/profile/PayoutForm.tsx
  prisma/migrations/20260125165328_remove_personal_data/migration.sql
  prisma/schema.prisma
Due: prisma-format, eslint, typescript

feat: update 14 files
  .gitignore
  AGENTS.md
  OBSERVABILITY_IMPLEMENTATION.md
  PROMPT_build.md
  PROMPT_plan.md
  __tests__/api/resources.test.ts
  app/api/health/route.ts
  app/api/metrics/route.ts
  lib/api-error.ts
  lib/metrics.ts
  package-lock.json
  package.json
  specs/README.md
  vitest.setup.ts
Due: eslint, typescript

docs: update OBSERVABILITY_IMPLEMENTATION.md, app/global-error.tsx, specs/README.md
  OBSERVABILITY_IMPLEMENTATION.md
  app/global-error.tsx
  specs/README.md
Due: eslint, typescript

feat: update 4 files
  OBSERVABILITY_IMPLEMENTATION.md
  app/[locale]/error.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

docs: update OBSERVABILITY_IMPLEMENTATION.md, instrumentation.ts
  OBSERVABILITY_IMPLEMENTATION.md
  instrumentation.ts
Due: eslint, typescript

feat: update 4 files
  OBSERVABILITY_IMPLEMENTATION.md
  sentry.client.config.ts
  sentry.edge.config.ts
  sentry.server.config.ts
Due: eslint, typescript

feat: update 8 files
  .env.example
  Dockerfile
  OBSERVABILITY_IMPLEMENTATION.md
  docker-compose.monitoring.yml
  monitoring/grafana/provisioning/dashboards/dashboards.yml
  monitoring/grafana/provisioning/datasources/datasources.yml
  monitoring/prometheus.yml
  next.config.ts
Due: hadolint, eslint, typescript, docker-compose-check

feat: switch email provider from Resend to Infomaniak SMTP
  .env.example
  lib/email.ts
  package-lock.json
  package.json
Due: eslint, typescript

feat: Upgrade Prisma to v7 with MariaDB adapter
  Dockerfile
  Dockerfile.dev
  lib/db.ts
  package-lock.json
  package.json
  prisma.config.ts
  prisma/schema.prisma
  prisma/seed.ts
  scripts/start.sh
Due: hadolint, prisma-format, eslint, typescript, docker-compose-check

fix: Downgrade TypeScript to 5.7.3 for Prisma v7 compatibility
  package-lock.json
  package.json
Due: none

fix: Update Dockerfile for Prisma v7 and fix build-time initialization
  Dockerfile
  lib/db.ts
Due: hadolint, eslint, typescript, docker-compose-check

feat: switch email provider from Resend to Infomaniak SMTP (#21)
  .env.example
  lib/email.ts
  package-lock.json
  package.json
Due: eslint, typescript

feat: improve UI components and add reusable cards
  app/[locale]/about/page.tsx
  app/[locale]/account/page.tsx
  app/[locale]/resources/[id]/page.tsx
  app/[locale]/resources/page.tsx
  components/search/LP21FilterSidebar.tsx
  components/ui/DashboardResourceCard.tsx
  components/ui/ProfileCard.tsx
  components/ui/ResourceCard.tsx
Due: eslint, typescript

feat: improve UI components and add reusable cards (#25)
  app/[locale]/about/page.tsx
  app/[locale]/account/page.tsx
  app/[locale]/resources/[id]/page.tsx
  app/[locale]/resources/page.tsx
  components/search/LP21FilterSidebar.tsx
  components/ui/DashboardResourceCard.tsx
  components/ui/ProfileCard.tsx
  components/ui/ResourceCard.tsx
Due: eslint, typescript

chore: remove seed data and test scripts
  package.json
  prisma/seed-curriculum.ts
  prisma/seed-files/sample-german-reading.pdf
  prisma/seed-files/sample-math-worksheet.pdf
  prisma/seed-files/sample-nmg-activity.pdf
  prisma/seed.ts
  scripts/create-test-resource.ts
  scripts/test-preview-generation.ts
  scripts/test-upload-api.ts
  scripts/test-upload-download-flow.ts
  scripts/test-upload-validation.ts
Due: eslint, typescript

feat: add production admin bootstrap script
  package.json
  prisma/bootstrap-admin.ts
  scripts/start.sh
Due: typescript

feat: add email verification page and improve SMTP config
  app/[locale]/auth/verify-email/page.tsx
  lib/email.ts
  messages/de.json
  messages/en.json
Due: eslint, typescript

fix: support tab query param in account page for email links
  app/[locale]/account/page.tsx
  lib/email.ts
Due: eslint, typescript

Production readiness: cleanup seed data and add email verification (#26)
  app/[locale]/account/page.tsx
  app/[locale]/auth/verify-email/page.tsx
  lib/email.ts
  messages/de.json
  messages/en.json
  package.json
  prisma/bootstrap-admin.ts
  prisma/seed-curriculum.ts
  prisma/seed-files/sample-german-reading.pdf
  prisma/seed-files/sample-math-worksheet.pdf
  prisma/seed-files/sample-nmg-activity.pdf
  prisma/seed.ts
  scripts/create-test-resource.ts
  scripts/start.sh
  scripts/test-preview-generation.ts
  scripts/test-upload-api.ts
  scripts/test-upload-download-flow.ts
  scripts/test-upload-validation.ts
Due: eslint, typescript

fix: remove deleted seed.ts reference and fix email locale detection
  app/api/auth/send-verification/route.ts
  scripts/start.sh
Due: eslint, typescript

fix: remove deleted seed.ts reference and fix email locale detection (#27)
  app/api/auth/send-verification/route.ts
  scripts/start.sh
Due: eslint, typescript

feat: migrate Lehrplan 21 curriculum from static TS to database
  Dockerfile
  app/[locale]/resources/page.tsx
  app/api/curriculum/route.ts
  components/search/LP21FilterSidebar.tsx
  lib/curriculum-types.ts
  lib/data/lehrplan21.ts
  lib/hooks/useCurriculum.ts
  package.json
  prisma/seed-curriculum.ts
  scripts/start.sh
Due: hadolint, eslint, typescript, docker-compose-check

feat: migrate Lehrplan 21 curriculum from static TS to database (#28)
  Dockerfile
  app/[locale]/resources/page.tsx
  app/api/curriculum/route.ts
  components/search/LP21FilterSidebar.tsx
  lib/curriculum-types.ts
  lib/data/lehrplan21.ts
  lib/hooks/useCurriculum.ts
  package.json
  prisma/seed-curriculum.ts
  scripts/start.sh
Due: hadolint, eslint, typescript, docker-compose-check

feat: improve email verification UX
  app/[locale]/account/page.tsx
  app/[locale]/auth/verify-email/page.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: improve email verification UX (#29)
  app/[locale]/account/page.tsx
  app/[locale]/auth/verify-email/page.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

Path conditions:
  hadolint: any of: Dockerfile
  prisma-format: any of: ^prisma/schema\.prisma$
  eslint: any of: \.(js|jsx|ts|tsx|mjs)$, but not: ^(\.next/|node_modules/|prisma/)
  typescript: any of: \.(ts|tsx)$, but not: ^\.next/
  docker-compose-check: any of: (docker-compose\.ya?ml|Dockerfile)$
