Repository ni3do/currico: changes, and which pre-commit hooks are due for each by the changed paths.
All: hadolint, prisma-format, eslint, typescript, docker-compose-check

.pre-commit-config.yaml:

repos:
  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        exclude: ^(\.next/|node_modules/)
      - id: check-yaml
      - id: check-json
        exclude: ^(\.next/|node_modules/|tsconfig\.json)
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: ['--branch', 'main']

  # Dockerfile linting (uses locally installed hadolint)
  - repo: local
    hooks:
      - id: hadolint
        name: Hadolint
        entry: hadolint --ignore DL3018 --ignore DL3059 --ignore DL3016
        language: system
        files: Dockerfile

  # Prisma schema formatting
  - repo: local
    hooks:
      - id: prisma-format
        name: Prisma format
        entry: npx prisma format
        language: system
        files: ^prisma/schema\.prisma$
        pass_filenames: false

      # ESLint for staged files
      - id: eslint
        name: ESLint
        entry: npx eslint --fix --max-warnings=0 --no-warn-ignored
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|mjs)$
        exclude: ^(\.next/|node_modules/|prisma/)

      # TypeScript type checking (uses tsconfig.check.json to exclude .next)
      - id: typescript
        name: TypeScript check
        entry: npx tsc --noEmit --project tsconfig.check.json
        language: system
        types: [file]
        files: \.(ts|tsx)$
        exclude: ^\.next/
        pass_filenames: false

      # Docker compose validation
      - id: docker-compose-check
        name: Docker Compose check
        entry: docker compose config --quiet
        language: system
        files: (docker-compose\.ya?ml|Dockerfile)$
        pass_filenames: false

feat: search autocomplete, platform stats, mobile UX & breadcrumb improvements
  app/[locale]/HomeClient.tsx
  app/[locale]/materialien/[id]/page.tsx
  app/[locale]/page.tsx
  app/api/materials/autocomplete/route.ts
  components/search/SearchAutocomplete.tsx
  components/ui/PlatformStatsBar.tsx
  components/ui/TopBar.tsx
  components/ui/TrustBar.tsx
  messages/de.json
  messages/en.json
  spec/plans/launch-checklist.md
Due: eslint, typescript

feat: search autocomplete, platform stats, mobile UX & breadcrumb improvements (#100)
  app/[locale]/HomeClient.tsx
  app/[locale]/materialien/[id]/page.tsx
  app/[locale]/page.tsx
  app/api/materials/autocomplete/route.ts
  components/search/SearchAutocomplete.tsx
  components/ui/PlatformStatsBar.tsx
  components/ui/TopBar.tsx
  components/ui/TrustBar.tsx
  messages/de.json
  messages/en.json
  spec/plans/launch-checklist.md
Due: eslint, typescript

fix: enforce uniform MaterialCard grid height with fixed-height sections
  components/ui/MaterialCard.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: display download count on MaterialCards (launch checklist #18)
  __tests__/api/resources.test.ts
  app/[locale]/HomeClient.tsx
  app/[locale]/page.tsx
  app/api/materials/route.ts
  components/search/MaterialsGrid.tsx
  components/ui/MaterialCard.tsx
  lib/types/material.ts
  lib/types/search.ts
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: verified seller filter, recommended sort, card redesign & display name nudge
  app/[locale]/konto/settings/page.tsx
  app/[locale]/materialien/page.tsx
  app/[locale]/page.tsx
  app/[locale]/verkaeufer-werden/page.tsx
  app/api/materials/route.ts
  components/search/FilterChips.tsx
  components/search/LP21FilterSidebar.tsx
  components/search/ResultsControlBar.tsx
  components/search/filters/MaterialFilters.tsx
  components/search/hooks/useFilterHandlers.ts
  components/ui/MaterialCard.tsx
  components/ui/MultiSelect.tsx
  components/ui/Skeleton.tsx
  components/ui/VerifiedSellerBadge.tsx
  lib/hooks/useMaterialSearch.ts
  lib/hooks/useSearchFetcher.ts
  lib/types/search.ts
  lib/utils/display-name.ts
  messages/de.json
  messages/en.json
  scripts/create-test-resource.ts
  spec/plans/launch-checklist.md
Due: eslint, typescript

feat: UX polish — TOC sidebars, compact review form, clickable cards & copy refinements
  app/[locale]/HomeClient.tsx
  app/[locale]/agb/page.tsx
  app/[locale]/cookie-richtlinien/page.tsx
  app/[locale]/datenschutz/page.tsx
  app/[locale]/hilfe/page.tsx
  app/[locale]/hochladen/page.tsx
  app/[locale]/impressum/page.tsx
  app/[locale]/konto/folge-ich/page.tsx
  app/[locale]/konto/library/page.tsx
  app/[locale]/konto/page.tsx
  app/[locale]/materialien/[id]/page.tsx
  app/[locale]/registrieren/page.tsx
  app/[locale]/urheberrecht/page.tsx
  components/materials/PurchasePanel.tsx
  components/materials/ReportModal.tsx
  components/reviews/ReviewForm.tsx
  components/reviews/ReviewsSection.tsx
  components/search/LP21FilterSidebar.tsx
  components/search/filters/MaterialFilters.tsx
  components/ui/FeatureGrid.tsx
  components/ui/MaterialCard.tsx
  components/ui/PlatformStatsBar.tsx
  components/ui/SwissBrandSection.tsx
  components/ui/TrustBar.tsx
  components/upload/PublishPreviewModal.tsx
  lib/email.ts
  lib/validations/material.ts
  messages/de.json
  messages/en.json
  spec/plans/2overview.md
  spec/plans/launch-checklist.md
Due: eslint, typescript

feat: UX polish — TOC sidebars, compact review form, clickable cards & copy refinements (#102)
  app/[locale]/HomeClient.tsx
  app/[locale]/agb/page.tsx
  app/[locale]/cookie-richtlinien/page.tsx
  app/[locale]/datenschutz/page.tsx
  app/[locale]/hilfe/page.tsx
  app/[locale]/hochladen/page.tsx
  app/[locale]/impressum/page.tsx
  app/[locale]/konto/folge-ich/page.tsx
  app/[locale]/konto/library/page.tsx
  app/[locale]/konto/page.tsx
  app/[locale]/materialien/[id]/page.tsx
  app/[locale]/registrieren/page.tsx
  app/[locale]/urheberrecht/page.tsx
  components/materials/PurchasePanel.tsx
  components/materials/ReportModal.tsx
  components/reviews/ReviewForm.tsx
  components/reviews/ReviewsSection.tsx
  components/search/LP21FilterSidebar.tsx
  components/search/filters/MaterialFilters.tsx
  components/ui/FeatureGrid.tsx
  components/ui/MaterialCard.tsx
  components/ui/PlatformStatsBar.tsx
  components/ui/SwissBrandSection.tsx
  components/ui/TrustBar.tsx
  components/upload/PublishPreviewModal.tsx
  lib/email.ts
  lib/validations/material.ts
  messages/de.json
  messages/en.json
  spec/plans/2overview.md
  spec/plans/launch-checklist.md
Due: eslint, typescript

chore: standardize API error codes across routes + lazy-load below-fold components
  __tests__/api/payments/webhook.test.ts
  app/[locale]/download/[token]/page.tsx
  app/[locale]/materialien/[id]/page.tsx
  app/api/admin/newsletters/[id]/send/route.ts
  app/api/admin/users/[id]/route.ts
  app/api/auth/reset-password/route.ts
  app/api/bundles/[id]/route.ts
  app/api/bundles/route.ts
  app/api/comments/[id]/route.ts
  app/api/download/[token]/info/route.ts
  app/api/download/[token]/route.ts
  app/api/payments/webhook/route.ts
  app/api/review-replies/[id]/route.ts
  lib/api.ts
  lib/utils/translate-api-error.ts
  messages/de.json
  messages/en.json
Due: eslint, typescript

chore: archive completed plans and streamline spec docs
  spec/archive/2overview.md
  spec/archive/code-quality-improvements.md
  spec/archive/consistency-audit-plan.md
  spec/archive/final-touch-audit.md
  spec/archive/joelimprovements-status.md
  spec/archive/ux-polish-9-and-10.md
  spec/index.md
  spec/plans/roadmap.md
Due: none

feat: homepage UI refinements — balanced grids, trust cards & step arrows
  app/[locale]/page.tsx
  components/ui/FeatureGrid.tsx
  components/ui/HowItWorks.tsx
  components/ui/SellerHeroSection.tsx
  components/ui/SwissBrandSection.tsx
  components/ui/ValueProposition.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: widen materials grid for ultrawide screens (1920px+)
  app/[locale]/materialien/page.tsx
Due: eslint, typescript

docs: add remaining work summary for pre-launch tracking
  spec/plans/remaining-work.md
Due: none

feat: extend ultrawide (1920px+) responsive layout across all pages
  app/[locale]/HomeClient.tsx
  app/[locale]/konto/layout.tsx
  app/[locale]/konto/library/page.tsx
  app/[locale]/konto/uploads/page.tsx
  app/[locale]/konto/wishlist/page.tsx
  app/[locale]/profil/[id]/loading.tsx
  app/[locale]/profil/[id]/page.tsx
  components/profile/ProfileTabs.tsx
  components/ui/Skeleton.tsx
Due: eslint, typescript

fix: remove CHF example from fair compensation description
  messages/de.json
  messages/en.json
Due: none

UI polish: ultrawide layout, homepage refinements & spec cleanup (#106)
  app/[locale]/HomeClient.tsx
  app/[locale]/konto/layout.tsx
  app/[locale]/konto/library/page.tsx
  app/[locale]/konto/uploads/page.tsx
  app/[locale]/konto/wishlist/page.tsx
  app/[locale]/materialien/page.tsx
  app/[locale]/page.tsx
  app/[locale]/profil/[id]/loading.tsx
  app/[locale]/profil/[id]/page.tsx
  components/profile/ProfileTabs.tsx
  components/ui/FeatureGrid.tsx
  components/ui/HowItWorks.tsx
  components/ui/SellerHeroSection.tsx
  components/ui/Skeleton.tsx
  components/ui/SwissBrandSection.tsx
  components/ui/ValueProposition.tsx
  messages/de.json
  messages/en.json
  spec/archive/2overview.md
  spec/archive/code-quality-improvements.md
  spec/archive/consistency-audit-plan.md
  spec/archive/final-touch-audit.md
  spec/archive/joelimprovements-status.md
  spec/archive/ux-polish-9-and-10.md
  spec/index.md
  spec/plans/remaining-work.md
  spec/plans/roadmap.md
Due: eslint, typescript

fix: critical security hardening — backup codes, email injection, webhook errors, download race condition
  app/api/download/[token]/route.ts
  app/api/materials/[id]/route.ts
  app/api/payments/webhook/route.ts
  lib/email.ts
  lib/totp.ts
  prisma/schema.prisma
  spec/index.md
  spec/plans/deep-audit-2026-02.md
  spec/plans/remaining-work.md
  spec/plans/roadmap.md
Due: prisma-format, eslint, typescript

fix: P1 security hardening — JWT lifetime, headers, path traversal, self-reports, TLS
  app/api/download/[token]/route.ts
  app/api/reports/route.ts
  lib/auth.ts
  lib/email.ts
  lib/storage/adapters/local.ts
  lib/storage/errors.ts
  lib/validations/auth.ts
  next.config.ts
  spec/plans/deep-audit-2026-02.md
Due: eslint, typescript

chore: P2 code quality — Sentry error capture, session refresh, abort cleanup
  app/providers.tsx
  lib/hooks/useAccountData.ts
  lib/hooks/useFollowing.ts
  lib/hooks/useWishlist.ts
  sentry.client.config.ts
  spec/plans/deep-audit-2026-02.md
Due: eslint, typescript

chore: P2 DB indexes, UI fixes, API pagination cap & ESLint no-console
  app/api/materials/route.ts
  components/ui/MaterialCard.tsx
  components/ui/TopBar.tsx
  eslint.config.mjs
  prisma/schema.prisma
  spec/plans/deep-audit-2026-02.md
Due: prisma-format, eslint, typescript

chore: P2 SEO — metadata layouts, server redirect, sitemap entries
  app/[locale]/checkout/layout.tsx
  app/[locale]/hochladen/layout.tsx
  app/[locale]/materialien/[id]/edit/page.tsx
  app/[locale]/sammlungen/layout.tsx
  app/[locale]/willkommen/layout.tsx
  app/sitemap.ts
  spec/plans/deep-audit-2026-02.md
Due: eslint, typescript

chore: P2/P3 — storage size limits, download validation, ownership helper, Docker healthcheck
  Dockerfile
  app/api/materials/[id]/download/route.ts
  components/ui/Footer.tsx
  lib/api.ts
  lib/storage/adapters/local.ts
  lib/storage/adapters/s3.ts
  spec/plans/deep-audit-2026-02.md
  vitest.config.ts
Due: hadolint, eslint, typescript, docker-compose-check

chore: env validation at startup, admin Sentry capture, audit cleanup
  app/[locale]/admin/layout.tsx
  instrumentation.ts
  lib/env-validation.ts
  spec/plans/deep-audit-2026-02.md
Due: eslint, typescript

chore: S3 rollback on DB failure, i18n TagInput fix, finalize audit
  app/api/materials/route.ts
  components/upload/TagInput.tsx
  spec/plans/deep-audit-2026-02.md
Due: eslint, typescript

chore: add migration for missing composite indexes
  prisma/migrations/20260222100000_add_composite_indexes/migration.sql
Due: none

test: add testing foundation — 13 new test files, 151 tests
  __tests__/api/auth/change-password.test.ts
  __tests__/api/auth/forgot-password.test.ts
  __tests__/api/auth/reset-password.test.ts
  __tests__/api/download/token-download.test.ts
  __tests__/api/materials/material-by-id.test.ts
  __tests__/api/materials/reviews.test.ts
  __tests__/api/users/me.test.ts
  __tests__/helpers/api-test-utils.ts
  __tests__/hooks/useWishlist.test.ts
  __tests__/utils/file-format.test.ts
  __tests__/utils/login-redirect.test.ts
  __tests__/utils/translate-api-error.test.ts
  __tests__/validations/material.test.ts
  spec/plans/deep-audit-2026-02.md
  vitest.setup.ts
Due: eslint, typescript

test: add testing foundation — 13 new test files, 151 tests (#108)
  __tests__/api/auth/change-password.test.ts
  __tests__/api/auth/forgot-password.test.ts
  __tests__/api/auth/reset-password.test.ts
  __tests__/api/download/token-download.test.ts
  __tests__/api/materials/material-by-id.test.ts
  __tests__/api/materials/reviews.test.ts
  __tests__/api/users/me.test.ts
  __tests__/helpers/api-test-utils.ts
  __tests__/hooks/useWishlist.test.ts
  __tests__/utils/file-format.test.ts
  __tests__/utils/login-redirect.test.ts
  __tests__/utils/translate-api-error.test.ts
  __tests__/validations/material.test.ts
  spec/plans/deep-audit-2026-02.md
  vitest.setup.ts
Due: eslint, typescript
