Repository ni3do/currico: changes, and which pre-commit hooks are due for each by the changed paths.
All: hadolint, prisma-format, eslint, typescript, docker-compose-check

.pre-commit-config.yaml:

repos:
  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        exclude: ^(\.next/|node_modules/)
      - id: check-yaml
      - id: check-json
        exclude: ^(\.next/|node_modules/|tsconfig\.json)
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: ['--branch', 'main']

  # Dockerfile linting (uses locally installed hadolint)
  - repo: local
    hooks:
      - id: hadolint
        name: Hadolint
        entry: hadolint --ignore DL3018 --ignore DL3059 --ignore DL3016
        language: system
        files: Dockerfile

  # Prisma schema formatting
  - repo: local
    hooks:
      - id: prisma-format
        name: Prisma format
        entry: npx prisma format
        language: system
        files: ^prisma/schema\.prisma$
        pass_filenames: false

      # ESLint for staged files
      - id: eslint
        name: ESLint
        entry: npx eslint --fix --max-warnings=0 --no-warn-ignored
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|mjs)$
        exclude: ^(\.next/|node_modules/|prisma/)

      # TypeScript type checking (uses tsconfig.check.json to exclude .next)
      - id: typescript
        name: TypeScript check
        entry: npx tsc --noEmit --project tsconfig.check.json
        language: system
        types: [file]
        files: \.(ts|tsx)$
        exclude: ^\.next/
        pass_filenames: false

      # Docker compose validation
      - id: docker-compose-check
        name: Docker Compose check
        entry: docker compose config --quiet
        language: system
        files: (docker-compose\.ya?ml|Dockerfile)$
        pass_filenames: false

Add guest download page with token validation (task 8.5)
  app/[locale]/download/[token]/page.tsx
  app/api/download/[token]/info/route.ts
  app/api/download/[token]/route.ts
  messages/de.json
  messages/en.json
  spec/account-structure-refactor.md
Due: eslint, typescript

Enhance guest download page with prominent account creation CTA (task 8.6)
  app/[locale]/download/[token]/page.tsx
  messages/de.json
  messages/en.json
  spec/account-structure-refactor.md
Due: eslint, typescript

Link past guest purchases when user creates account (task 8.7)
  __tests__/api/auth/register.test.ts
  app/api/auth/register/route.ts
  spec/account-structure-refactor.md
  vitest.setup.ts
Due: eslint, typescript

Add tests for seller onboarding flow (task 10.1)
  __tests__/api/seller/onboarding.test.ts
  spec/account-structure-refactor.md
Due: eslint, typescript

Add tests for checkout flow (task 10.2)
  __tests__/api/payments/checkout.test.ts
  spec/account-structure-refactor.md
Due: eslint, typescript

Add tests for webhook handlers (task 10.3)
  __tests__/api/payments/webhook.test.ts
  spec/account-structure-refactor.md
  vitest.setup.ts
Due: eslint, typescript

Create Terms of Service page with seller terms (task 10.8)
  __tests__/api/payments/checkout.test.ts
  app/[locale]/terms/page.tsx
  components/ui/Footer.tsx
  messages/de.json
  messages/en.json
  spec/account-structure-refactor.md
Due: eslint, typescript

Refactor seller verification to use Stripe KYC
  Dockerfile.dev
  __tests__/api/admin/stats.test.ts
  app/[locale]/admin/users/page.tsx
  app/api/admin/stats/route.ts
  app/api/admin/users/[id]/route.ts
  app/api/admin/users/route.ts
  app/api/resources/[id]/route.ts
  app/api/seller/dashboard/route.ts
  app/api/user/me/route.ts
  app/api/users/me/route.ts
  lib/auth.ts
  lib/db.ts
  prisma/seed.ts
  scripts/create-test-resource.ts
  scripts/test-upload-api.ts
  scripts/test-upload-download-flow.ts
  scripts/test-upload-validation.ts
  spec/index.md
Due: hadolint, eslint, typescript

Add missing Bundle and Follow models to fix build errors
  app/api/user/following/route.ts
  lib/api.ts
  prisma/schema.prisma
Due: prisma-format, eslint, typescript

Add comprehensive schema sync migration
  prisma/migrations/20260118000000_add_bundle_and_follow_models/migration.sql
Due: none

Fix: Include prisma migrations in Docker build
  .dockerignore
Due: none

added some plans
  spec/cost-analysis.md
  spec/s3-storage.md
Due: none

Squash migrations into single init migration
  prisma/migrations/20260114210152_init/migration.sql
  prisma/migrations/20260116000000_lp21_curriculum_integration/migration.sql
  prisma/migrations/20260117000000_add_email_verification_token/migration.sql
  prisma/migrations/20260117000001_add_guest_checkout_fields/migration.sql
  prisma/migrations/20260118000000_add_bundle_and_follow_models/migration.sql
  prisma/migrations/20260118120000_init/migration.sql
Due: none

Fix Microsoft OAuth button provider ID on register page
  app/[locale]/register/page.tsx
  spec/oauth-integration.md
Due: eslint, typescript

Add Microsoft OAuth button to login page
  app/[locale]/login/page.tsx
  messages/de.json
  messages/en.json
  spec/oauth-integration.md
Due: eslint, typescript

Add Switch edu-ID OAuth provider for Swiss educational identity
  .env.example
  lib/auth.ts
  spec/oauth-integration.md
Due: eslint, typescript

Add edu-ID button to login page
  app/[locale]/login/page.tsx
  messages/de.json
  messages/en.json
  prisma/schema.prisma
  public/eduid-logo.svg
  spec/oauth-integration.md
Due: prisma-format, eslint, typescript

Add edu-ID button to register page
  app/[locale]/register/page.tsx
  spec/oauth-integration.md
Due: eslint, typescript

docs(spec): add claude-workflow guide for spec-driven automation
  spec/claude-workflow.md
Due: none

fix(docker): clear npm cache before ci to fix stale dependency resolution
  Dockerfile
Due: hadolint, docker-compose-check

fix: sync package-lock.json with package.json
  package-lock.json
Due: none

fix: sort dropdown options alphabetically
  app/[locale]/contact/ContactClient.tsx
  app/[locale]/resources/page.tsx
  app/[locale]/upload/page.tsx
  components/upload/CurriculumSelector.tsx
Due: eslint, typescript

feat: add EarningsCalculator and PreviewBadge components for CRO
  app/[locale]/page.tsx
  app/globals.css
  components/ui/EarningsCalculator.tsx
  components/ui/PreviewBadge.tsx
  components/ui/ResourceCard.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

refactor: redesign resource grid and card for better UX
  app/[locale]/resources/page.tsx
  components/ui/ResourceCard.tsx
Due: eslint, typescript

feat: add HeroWithOverlap and SellerHeroSection components
  components/ui/HeroWithOverlap.tsx
  components/ui/SellerHeroSection.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: add FilterSidebar and improve resources page layout
  app/[locale]/resources/page.tsx
  app/globals.css
  components/ui/FilterSidebar.tsx
  components/ui/ResourceCard.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: add lucide-react icons and update UI components
  app/[locale]/page.tsx
  app/globals.css
  components/ui/FilterSidebar.tsx
  components/ui/SellerHeroSection.tsx
  messages/de.json
  messages/en.json
  package-lock.json
  package.json
Due: eslint, typescript

chore: regenerate package-lock.json to sync dependencies
  package-lock.json
Due: none

fix: remove conflicting @swc/helpers optional dependency
  package-lock.json
  package.json
Due: none

fix: remove < CHF 50 price filter option
  components/search/LP21FilterSidebar.tsx
Due: eslint, typescript

feat: add LP21 curriculum filter and improve UI components
  app/[locale]/account/page.tsx
  app/[locale]/page.tsx
  app/[locale]/resources/page.tsx
  app/globals.css
  components/account/AccountSidebar.tsx
  components/ui/SellerHeroSection.tsx
  lib/data/lehrplan21.ts
  messages/de.json
  messages/en.json
  spec/lp21-filter-sidebar.md
Due: eslint, typescript

fix: use Next.js Image component and refine UI components
  app/[locale]/account/page.tsx
  components/account/AccountSidebar.tsx
  components/ui/SellerHeroSection.tsx
Due: eslint, typescript

refactor: move seller dashboard to top of account sidebar and remove search bar
  app/[locale]/account/page.tsx
  components/account/AccountSidebar.tsx
Due: eslint, typescript

refactor: fix lint error and remove unused components
  app/[locale]/admin/layout.tsx
  app/[locale]/admin/page.tsx
  components/admin/AdminSidebar.tsx
  components/search/CurriculumAutocomplete.tsx
  components/search/FilterSidebar.tsx
  components/ui/EarningsCalculator.tsx
  components/ui/FilterSidebar.tsx
  components/ui/HeroWithOverlap.tsx
Due: eslint, typescript

docs: add urgent legal and trust phases to roadmap
  spec/roadmap.md
Due: none

feat: add legal pages, cookie consent, FAQ, and UI improvements
  app/[locale]/faq/page.tsx
  app/[locale]/impressum/page.tsx
  app/[locale]/layout.tsx
  app/[locale]/page.tsx
  app/[locale]/privacy/page.tsx
  app/[locale]/terms/page.tsx
  components/ui/CookieConsent.tsx
  components/ui/Footer.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: rebrand to EasyLehrer and add pilot teacher CTA
  README.md
  app/[locale]/page.tsx
  app/layout.tsx
  components/ui/CookieConsent.tsx
  components/ui/Footer.tsx
  components/ui/TopBar.tsx
  i18n/config.ts
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: implement cover image upload for bundles
  app/[locale]/upload/bundle/page.tsx
Due: eslint, typescript

refactor: remove secondary CTA button from hero section
  app/[locale]/page.tsx
Due: eslint, typescript
