Repository ni3do/currico: changes, and which pre-commit hooks are due for each by the changed paths.
All: hadolint, prisma-format, eslint, typescript, docker-compose-check

hadolint:
  name: Hadolint
  entry: hadolint --ignore DL3018 --ignore DL3059 --ignore DL3016
  language: system

prisma-format:
  name: Prisma format
  entry: npx prisma format
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: npx eslint --fix --max-warnings=0 --no-warn-ignored
  language: system

typescript:
  name: TypeScript check
  entry: npx tsc --noEmit --project tsconfig.check.json
  language: system
  pass_filenames: false

docker-compose-check:
  name: Docker Compose check
  entry: docker compose config --quiet
  language: system
  pass_filenames: false

test: update spec/2026-01-29-playwright-e2e-testing/plan.md
  spec/2026-01-29-playwright-e2e-testing/plan.md
Due: none

feat: update 9 files
  .auth/admin.json
  .auth/buyer.json
  .auth/school.json
  .auth/seller.json
  e2e/pages/base.page.ts
  e2e/pages/index.ts
  e2e/pages/login.page.ts
  e2e/tests/auth/login.spec.ts
  spec/2026-01-29-playwright-e2e-testing/plan.md
Due: eslint, typescript

test: update e2e/pages/register.page.ts, spec/2026-01-29-playwright-e2e-testing/plan.md
  e2e/pages/register.page.ts
  spec/2026-01-29-playwright-e2e-testing/plan.md
Due: eslint, typescript

feat: add unified help center with search functionality
  app/[locale]/faq/page.tsx
  app/[locale]/hilfe/page.tsx
  components/ui/Footer.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

fix: resolve S3 preview URL double-slash and add S3 domain to Next.js Image
  lib/storage/adapters/s3.ts
  next.config.ts
Due: eslint, typescript

fix: resolve S3 preview URL double-slash and add S3 domain to Next.js Image (#51)
  lib/storage/adapters/s3.ts
  next.config.ts
Due: eslint, typescript

fix: use poppler-utils for reliable PDF preview generation in Docker
  Dockerfile
  lib/utils/preview-generator.ts
Due: hadolint, eslint, typescript, docker-compose-check

feat: show pending resources with review status indicator
  app/[locale]/resources/[id]/page.tsx
  app/api/resources/[id]/route.ts
Due: eslint, typescript

fix: use poppler-utils for reliable PDF preview generation in Docker (#52)
  Dockerfile
  lib/utils/preview-generator.ts
Due: hadolint, eslint, typescript, docker-compose-check

feat: allow admins to view and download all resources
  app/api/resources/[id]/download/route.ts
  app/api/resources/[id]/route.ts
Due: eslint, typescript

fix: prevent purchase/download of unverified resources
  app/[locale]/resources/[id]/page.tsx
  app/api/resources/[id]/download/route.ts
Due: eslint, typescript

feat: show pending resources with review status indicator (#53)
  app/[locale]/resources/[id]/page.tsx
  app/api/resources/[id]/download/route.ts
  app/api/resources/[id]/route.ts
Due: eslint, typescript

feat: allow free resource uploads without Stripe verification
  Dockerfile
  app/api/resources/route.ts
  app/api/seller/connect/status/route.ts
  lib/api.ts
  next.config.ts
Due: hadolint, eslint, typescript, docker-compose-check

feat: allow free resource uploads without Stripe verification (#55)
  Dockerfile
  app/[locale]/resources/[id]/page.tsx
  app/api/resources/[id]/download/route.ts
  app/api/resources/route.ts
  app/api/seller/connect/status/route.ts
  lib/api.ts
  lib/storage/adapters/s3.ts
  lib/utils/preview-generator.ts
  next.config.ts
Due: hadolint, eslint, typescript, docker-compose-check

feat: add Swiss/EU legal compliance updates
  app/[locale]/cookies/page.tsx
  app/[locale]/impressum/page.tsx
  app/[locale]/privacy/page.tsx
  app/[locale]/terms/page.tsx
  components/checkout/CheckoutButton.tsx
  package-lock.json
Due: eslint, typescript

feat: add help center, bundles, and UI improvements (#50)
  app/[locale]/cookies/page.tsx
  app/[locale]/faq/page.tsx
  app/[locale]/hilfe/page.tsx
  app/[locale]/impressum/page.tsx
  app/[locale]/privacy/page.tsx
  app/[locale]/terms/page.tsx
  components/checkout/CheckoutButton.tsx
  components/ui/Footer.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

fix: add Prisma binary target for Alpine Linux and reset migrations
  prisma/migrations/0_init/migration.sql
  prisma/migrations/20260125165328_remove_personal_data/migration.sql
  prisma/migrations/20260128220000_add_social_media_fields/migration.sql
  prisma/migrations/20260128230000_add_is_private_field/migration.sql
  prisma/migrations/20260128230100_add_notification_preferences/migration.sql
  prisma/schema.prisma
Due: prisma-format

fix: add Prisma binary target for Alpine Linux and reset migrations (#56)
  prisma/migrations/0_init/migration.sql
  prisma/migrations/20260125165328_remove_personal_data/migration.sql
  prisma/migrations/20260128220000_add_social_media_fields/migration.sql
  prisma/migrations/20260128230000_add_is_private_field/migration.sql
  prisma/migrations/20260128230100_add_notification_preferences/migration.sql
  prisma/schema.prisma
Due: prisma-format

fix: add linux-musl binary target and auto-generate Prisma on schema change
  .husky/pre-commit
  prisma/schema.prisma
Due: prisma-format

fix: add linux-musl binary target and auto-generate Prisma on schema change (#57)
  .husky/pre-commit
  prisma/schema.prisma
Due: prisma-format

feat: migrate from MySQL to PostgreSQL
  .env.example
  .github/workflows/ci.yml
  app/api/curriculum/route.ts
  app/api/resources/[id]/route.ts
  app/api/resources/route.ts
  app/api/users/search/route.ts
  docker-compose.yml
  lib/json-array.ts
  prisma/migrations/0_init/migration.sql
  prisma/migrations/20260131220323_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: prisma-format, eslint, typescript, docker-compose-check

feat: migrate from MySQL to PostgreSQL (#58)
  .env.example
  .github/workflows/ci.yml
  app/api/curriculum/route.ts
  app/api/resources/[id]/route.ts
  app/api/resources/route.ts
  app/api/users/search/route.ts
  docker-compose.yml
  lib/json-array.ts
  prisma/migrations/0_init/migration.sql
  prisma/migrations/20260131220323_init/migration.sql
  prisma/migrations/migration_lock.toml
  prisma/schema.prisma
Due: prisma-format, eslint, typescript, docker-compose-check

test: add E2E tests for wishlist, purchase, seller dashboard, and admin moderation
  e2e/pages/account.page.ts
  e2e/pages/admin-documents.page.ts
  e2e/pages/base.page.ts
  e2e/pages/checkout-success.page.ts
  e2e/pages/index.ts
  e2e/pages/resource-detail.page.ts
  e2e/tests/admin/moderation.spec.ts
  e2e/tests/purchase/download.spec.ts
  e2e/tests/seller/dashboard.spec.ts
  e2e/tests/wishlist/wishlist.spec.ts
Due: eslint, typescript

test: add Playwright E2E testing infrastructure (#49)
  .auth/admin.json
  .auth/buyer.json
  .auth/school.json
  .auth/seller.json
  .gitignore
  e2e/fixtures/.gitkeep
  e2e/fixtures/auth.fixture.ts
  e2e/fixtures/seed-test-data.ts
  e2e/fixtures/test-users.ts
  e2e/global-setup.ts
  e2e/pages/account.page.ts
  e2e/pages/admin-documents.page.ts
  e2e/pages/base.page.ts
  e2e/pages/checkout-success.page.ts
  e2e/pages/index.ts
  e2e/pages/login.page.ts
  e2e/pages/register.page.ts
  e2e/pages/resource-detail.page.ts
  e2e/tests/admin/moderation.spec.ts
  e2e/tests/auth/login.spec.ts
  e2e/tests/purchase/download.spec.ts
  e2e/tests/seller/dashboard.spec.ts
  e2e/tests/smoke.spec.ts
  e2e/tests/wishlist/wishlist.spec.ts
  e2e/utils/test-helpers.ts
  package-lock.json
  package.json
  playwright.config.ts
  spec/2026-01-29-playwright-e2e-testing/plan.md
  spec/index.md
  vitest.config.ts
Due: eslint, typescript

fix: correct platform fee from 15% to 30% across codebase
  app/[locale]/admin/transactions/page.tsx
  app/api/seller/dashboard/route.ts
  spec/stripe-connect-architecture.md
  spec/stripe-connect-implementation-plan.md
Due: eslint, typescript

feat: add password visibility toggle to login and register forms
  app/[locale]/login/page.tsx
  app/[locale]/register/page.tsx
Due: eslint, typescript

fix: exclude e2e tests from Next.js build
  e2e/pages/index.ts
  tsconfig.json
Due: eslint, typescript

fix: standardize all email addresses to info@currico.ch
  .env.example
  app/[locale]/about/page.tsx
  app/[locale]/contact/ContactClient.tsx
  docs/DEVELOPMENT_ENV.md
  docs/PRODUCTION_ENV.md
  lib/email.ts
  messages/de.json
  messages/en.json
Due: eslint, typescript

fix: correct platform fee from 15% to 30% across codebase (#59)
  .env.example
  app/[locale]/about/page.tsx
  app/[locale]/admin/transactions/page.tsx
  app/[locale]/contact/ContactClient.tsx
  app/api/seller/dashboard/route.ts
  docs/DEVELOPMENT_ENV.md
  docs/PRODUCTION_ENV.md
  e2e/pages/index.ts
  lib/email.ts
  messages/de.json
  messages/en.json
  spec/stripe-connect-architecture.md
  spec/stripe-connect-implementation-plan.md
  tsconfig.json
Due: eslint, typescript

fix: add cuid defaults to NextAuth models and simplify Docker env
  docker-compose.yml
  prisma/schema.prisma
Due: prisma-format, docker-compose-check

fix: add cuid defaults to NextAuth models and simplify Docker env (#60)
  docker-compose.yml
  prisma/schema.prisma
Due: prisma-format, docker-compose-check

chore: update gitignore to exclude screenshots and Playwright MCP
  .gitignore
Due: none

test: add E2E tests for comments, reviews, and likes
  e2e/fixtures/seed-test-data.ts
  e2e/fixtures/test-users.ts
  e2e/pages/resource-detail.page.ts
  e2e/tests/social/comments.spec.ts
  e2e/tests/social/likes.spec.ts
  e2e/tests/social/reviews.spec.ts
Due: eslint, typescript

chore: sync package-lock.json for Docker build
  package-lock.json
Due: none

test: add E2E tests for comments, reviews, and likes (#62)
  e2e/fixtures/seed-test-data.ts
  e2e/fixtures/test-users.ts
  e2e/pages/resource-detail.page.ts
  e2e/tests/social/comments.spec.ts
  e2e/tests/social/likes.spec.ts
  e2e/tests/social/reviews.spec.ts
  package-lock.json
Due: eslint, typescript

fix: add missing migration for preview_urls and social features
  prisma/migrations/20260204191734_add_preview_urls/migration.sql
Due: none

Path conditions:
  hadolint: any of: Dockerfile
  prisma-format: any of: ^prisma/schema\.prisma$
  eslint: any of: \.(js|jsx|ts|tsx|mjs)$, but not: ^(\.next/|node_modules/|prisma/)
  typescript: any of: \.(ts|tsx)$, but not: ^\.next/
  docker-compose-check: any of: (docker-compose\.ya?ml|Dockerfile)$
