Repository ni3do/currico: changes, and which pre-commit hooks are due for each by the changed paths.
All: hadolint, prisma-format, eslint, typescript, docker-compose-check

.pre-commit-config.yaml:

repos:
  # General pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-executables-have-shebangs
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
        exclude: ^(\.next/|node_modules/)
      - id: check-yaml
      - id: check-json
        exclude: ^(\.next/|node_modules/|tsconfig\.json)
      - id: check-added-large-files
        args: ['--maxkb=500']
      - id: check-merge-conflict
      - id: detect-private-key
      - id: no-commit-to-branch
        args: ['--branch', 'main']

  # Dockerfile linting (uses locally installed hadolint)
  - repo: local
    hooks:
      - id: hadolint
        name: Hadolint
        entry: hadolint --ignore DL3018 --ignore DL3059 --ignore DL3016
        language: system
        files: Dockerfile

  # Prisma schema formatting
  - repo: local
    hooks:
      - id: prisma-format
        name: Prisma format
        entry: npx prisma format
        language: system
        files: ^prisma/schema\.prisma$
        pass_filenames: false

      # ESLint for staged files
      - id: eslint
        name: ESLint
        entry: npx eslint --fix --max-warnings=0 --no-warn-ignored
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|mjs)$
        exclude: ^(\.next/|node_modules/|prisma/)

      # TypeScript type checking (uses tsconfig.check.json to exclude .next)
      - id: typescript
        name: TypeScript check
        entry: npx tsc --noEmit --project tsconfig.check.json
        language: system
        types: [file]
        files: \.(ts|tsx)$
        exclude: ^\.next/
        pass_filenames: false

      # Docker compose validation
      - id: docker-compose-check
        name: Docker Compose check
        entry: docker compose config --quiet
        language: system
        files: (docker-compose\.ya?ml|Dockerfile)$
        pass_filenames: false

feat: move Folge ich page into account layout at /konto/folge-ich
  app/[locale]/folge-ich/page.tsx
  app/[locale]/konto/folge-ich/page.tsx
  app/[locale]/konto/layout.tsx
  app/[locale]/profil/page.tsx
  components/account/AccountSidebar.tsx
  lib/types/account.ts
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: medium effort i18n, a11y, and filter UX improvements
  app/[locale]/hilfe/page.tsx
  app/[locale]/hochladen/page.tsx
  app/[locale]/kontakt/ContactClient.tsx
  app/[locale]/konto/page.tsx
  app/[locale]/materialien/[id]/page.tsx
  app/[locale]/materialien/page.tsx
  app/[locale]/page.tsx
  app/[locale]/profil/[id]/page.tsx
  app/[locale]/ueber-uns/page.tsx
  components/search/LP21FilterSidebar.tsx
  joelimprovements-status.md
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: convert materialien search to exclusive tab-based view
  app/[locale]/materialien/page.tsx
  app/api/users/search/route.ts
  components/search/LP21FilterSidebar.tsx
  components/ui/EmptySearchState.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

fix: add GIN trigram indexes to Prisma schema to fix CI drift check
  prisma/schema.prisma
Due: prisma-format

fix: add GIN trigram indexes to Prisma schema (#77)
  prisma/schema.prisma
Due: prisma-format

feat: materialien page improvements — filtering, i18n, mobile UX, and cleanup
  app/[locale]/materialien/page.tsx
  app/api/materials/route.ts
  components/search/LP21FilterSidebar.tsx
  components/ui/EmptySearchState.tsx
  components/ui/ProfileCard.tsx
  components/ui/Skeleton.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: add price filter, new formats, animated chips, and sidebar fixes
  app/[locale]/materialien/layout.tsx
  app/[locale]/materialien/page.tsx
  app/api/materials/route.ts
  components/search/LP21FilterSidebar.tsx
  joelimprovements-status.md
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: canton filter, ratings, focus trap, and cleanup for materialien page
  app/[locale]/bundles/[id]/page.tsx
  app/[locale]/materialien/[id]/page.tsx
  app/[locale]/materialien/page.tsx
  app/api/materials/route.ts
  components/search/LP21FilterSidebar.tsx
  components/ui/EmptySearchState.tsx
  components/ui/MaterialCard.tsx
  joelimprovements-status.md
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: UI improvements for materialien search and detail pages
  app/[locale]/materialien/[id]/page.tsx
  app/[locale]/materialien/page.tsx
  app/api/materials/[id]/route.ts
  components/checkout/CheckoutButton.tsx
  components/reviews/ReviewsSection.tsx
  components/search/LP21FilterSidebar.tsx
  components/ui/MaterialCard.tsx
  components/ui/PreviewGallery.tsx
  joelimprovements-status.md
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: change price color from peach to blue
  app/globals.css
Due: none

feat: redesign account dashboard cards — compact layout, a11y, and cleanup
  app/[locale]/konto/layout.tsx
  app/[locale]/konto/library/page.tsx
  app/[locale]/konto/page.tsx
  app/[locale]/konto/uploads/page.tsx
  app/[locale]/konto/wishlist/page.tsx
  components/account/AccountSidebar.tsx
  components/ui/DashboardMaterialCard.tsx
  lib/types/account.ts
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: i18n, confirm dialogs, a11y, and UX improvements for reviews/comments
  app/[locale]/hochladen/page.tsx
  app/[locale]/konto/layout.tsx
  app/[locale]/konto/page.tsx
  app/[locale]/konto/settings/appearance/page.tsx
  app/[locale]/konto/settings/page.tsx
  app/[locale]/konto/uploads/page.tsx
  app/[locale]/materialien/[id]/page.tsx
  app/api/materials/[id]/reviews/route.ts
  app/api/user/library/route.ts
  components/account/AccountSidebar.tsx
  components/account/ProfileCompletionProgress.tsx
  components/account/WelcomeGuide.tsx
  components/comments/CommentCard.tsx
  components/comments/CommentsSection.tsx
  components/reviews/ReviewCard.tsx
  components/reviews/ReviewsSection.tsx
  components/ui/ConfirmDialog.tsx
  components/ui/DashboardMaterialCard.tsx
  components/ui/StarRating.tsx
  components/upload/UploadWizardContext.tsx
  lib/types/account.ts
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: migrate ~70 hardcoded German strings to next-intl across account pages
  app/[locale]/konto/bundles/page.tsx
  app/[locale]/konto/layout.tsx
  app/[locale]/konto/library/page.tsx
  app/[locale]/konto/settings/notifications/page.tsx
  app/[locale]/konto/settings/page.tsx
  app/[locale]/konto/wishlist/page.tsx
  components/account/AccountSidebar.tsx
  components/profile/AvatarUploader.tsx
  components/ui/MultiSelect.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: comprehensive account section improvements — i18n, a11y, error states, and features
  app/[locale]/konto/bundles/page.tsx
  app/[locale]/konto/comments/page.tsx
  app/[locale]/konto/folge-ich/page.tsx
  app/[locale]/konto/layout.tsx
  app/[locale]/konto/library/page.tsx
  app/[locale]/konto/notifications/page.tsx
  app/[locale]/konto/page.tsx
  app/[locale]/konto/settings/account/page.tsx
  app/[locale]/konto/settings/page.tsx
  app/[locale]/konto/uploads/page.tsx
  app/[locale]/konto/wishlist/page.tsx
  app/api/seller/bundles/route.ts
  app/api/seller/dashboard/route.ts
  app/api/seller/materials/route.ts
  app/api/user/following/route.ts
  app/api/user/library/route.ts
  app/api/user/resource-comments/route.ts
  app/api/user/wishlist/route.ts
  components/account/AccountSidebar.tsx
  components/account/EmailVerificationBanner.tsx
  components/account/ProfileCompletionProgress.tsx
  components/account/SellerCommentsSection.tsx
  components/account/SellerLevelCard.tsx
  components/account/StripeConnectStatus.tsx
  components/account/WelcomeGuide.tsx
  components/ui/Toggle.tsx
  lib/hooks/useAccountData.ts
  messages/de.json
  messages/en.json
Due: eslint, typescript

chore: update globals.css and improvements status tracking
  app/globals.css
  joelimprovements-status.md
Due: none

feat: materialien page improvements (#78)
  app/[locale]/materialien/page.tsx
  app/api/materials/route.ts
  components/search/LP21FilterSidebar.tsx
  components/ui/EmptySearchState.tsx
  components/ui/ProfileCard.tsx
  components/ui/Skeleton.tsx
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: materialien page improvements — filtering, UI polish, and bug fixes (#79)
  app/[locale]/bundles/[id]/page.tsx
  app/[locale]/materialien/[id]/page.tsx
  app/[locale]/materialien/layout.tsx
  app/[locale]/materialien/page.tsx
  app/api/materials/[id]/route.ts
  app/api/materials/route.ts
  app/globals.css
  components/checkout/CheckoutButton.tsx
  components/reviews/ReviewsSection.tsx
  components/search/LP21FilterSidebar.tsx
  components/ui/EmptySearchState.tsx
  components/ui/MaterialCard.tsx
  components/ui/PreviewGallery.tsx
  joelimprovements-status.md
  messages/de.json
  messages/en.json
Due: eslint, typescript

fix: resolve code quality issues — i18n, type safety, error handling
  app/[locale]/materialien/page.tsx
  app/api/materials/route.ts
  components/comments/CommentCard.tsx
  components/comments/CommentsSection.tsx
  components/reviews/ReviewsSection.tsx
  lib/api.ts
  messages/de.json
  messages/en.json
Due: eslint, typescript

refactor: extract components, named constants, and ARIA improvements
  app/[locale]/materialien/page.tsx
  app/api/materials/route.ts
  components/search/FilterChips.tsx
  components/search/LP21FilterSidebar.tsx
  components/search/PaginationControls.tsx
Due: eslint, typescript

refactor: code quality, type safety, and component extraction (#81)
  app/[locale]/materialien/page.tsx
  app/api/materials/route.ts
  components/comments/CommentCard.tsx
  components/comments/CommentsSection.tsx
  components/reviews/ReviewsSection.tsx
  components/search/FilterChips.tsx
  components/search/LP21FilterSidebar.tsx
  components/search/PaginationControls.tsx
  lib/api.ts
  messages/de.json
  messages/en.json
Due: eslint, typescript

fix: comprehensive security, type safety, and code quality improvements
  app/[locale]/hochladen/bundle/page.tsx
  app/[locale]/konto/layout.tsx
  app/[locale]/konto/notifications/page.tsx
  app/[locale]/konto/settings/account/page.tsx
  app/[locale]/verkaeufer-stufen/page.tsx
  app/api/admin/users/[id]/route.ts
  app/api/auth/forgot-password/route.ts
  app/api/auth/register/route.ts
  app/api/auth/reset-password/route.ts
  app/api/comments/[id]/route.ts
  app/api/contact/route.ts
  app/api/curriculum/route.ts
  app/api/download/[token]/route.ts
  app/api/materials/[id]/download/route.ts
  app/api/materials/[id]/reviews/route.ts
  app/api/materials/[id]/route.ts
  app/api/payments/create-checkout-session/route.ts
  app/api/payments/webhook/route.ts
  app/api/reviews/[id]/route.ts
  app/api/uploads/[...path]/route.ts
  app/api/users/me/avatar/route.ts
  app/api/users/me/route.ts
  app/api/users/search/route.ts
  components/account/SellerLevelCard.tsx
  components/ui/MaterialCard.tsx
  components/ui/SellerBadge.tsx
  components/upload/UploadWizardContext.tsx
  lib/db.ts
  lib/email.ts
  lib/hooks/useAccountData.ts
  lib/rateLimit.ts
  next.config.ts
  vitest.setup.ts
Due: eslint, typescript

feat: i18n, confirm dialogs, a11y, and upload wizard improvements
  app/[locale]/admin/documents/page.tsx
  app/[locale]/admin/messages/page.tsx
  app/[locale]/admin/reports/page.tsx
  app/[locale]/admin/users/page.tsx
  app/[locale]/anmelden/page.tsx
  app/[locale]/hilfe/page.tsx
  app/[locale]/hochladen/page.tsx
  app/[locale]/impressum/page.tsx
  app/[locale]/kontakt/ContactClient.tsx
  app/[locale]/registrieren/page.tsx
  app/[locale]/sammlungen/page.tsx
  app/[locale]/urheberrecht/page.tsx
  app/[locale]/verkaeufer-stufen/page.tsx
  app/globals.css
  components/account/SellerCommentsSection.tsx
  joelimprovements-status.md
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: ReviewForm i18n, detail page a11y, download toast, and report modal timing
  app/[locale]/konto/layout.tsx
  app/[locale]/materialien/[id]/page.tsx
  components/reviews/ReviewForm.tsx
  joelimprovements-status.md
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: complete i18n for upload wizard, consolidate tooltips, and polish fixes
  app/[locale]/hochladen/page.tsx
  app/[locale]/konto/uploads/page.tsx
  app/[locale]/layout.tsx
  app/[locale]/materialien/[id]/page.tsx
  app/[locale]/page.tsx
  app/api/materials/[id]/route.ts
  app/api/reports/route.ts
  components/account/DeleteConfirmDialog.tsx
  components/checkout/CheckoutButton.tsx
  components/comments/CommentCard.tsx
  components/comments/CommentForm.tsx
  components/comments/CommentsSection.tsx
  components/materials/PurchasePanel.tsx
  components/materials/ReportModal.tsx
  components/profile/AvatarUploader.tsx
  components/reviews/ReviewCard.tsx
  components/reviews/ReviewsSection.tsx
  components/ui/LikeButton.tsx
  components/ui/PreviewGallery.tsx
  components/upload/DraftIndicator.tsx
  components/upload/EnhancedCurriculumSelector.tsx
  components/upload/FormField.tsx
  components/upload/InfoTooltip.tsx
  components/upload/StepSummary.tsx
  components/upload/UploadWizardContext.tsx
  components/upload/index.ts
  joelimprovements-status.md
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: like button optimistic updates, verified seller cleanup, legal page polish, and upload flow improvements
  app/[locale]/agb/page.tsx
  app/[locale]/cookie-richtlinien/page.tsx
  app/[locale]/datenschutz/page.tsx
  app/[locale]/hochladen/page.tsx
  app/[locale]/impressum/page.tsx
  app/[locale]/konto/folge-ich/layout.tsx
  app/[locale]/konto/folge-ich/page.tsx
  app/[locale]/profil/[id]/page.tsx
  app/[locale]/urheberrecht/page.tsx
  app/[locale]/verifizierter-verkaeufer/page.tsx
  components/ui/LikeButton.tsx
  joelimprovements-status.md
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: material detail improvements — shared types, subject pills, watermark overhaul, and Schema.org SEO
  app/[locale]/materialien/[id]/layout.tsx
  app/[locale]/materialien/[id]/page.tsx
  app/api/materials/route.ts
  components/materials/PurchasePanel.tsx
  components/ui/PreviewGallery.tsx
  e2e/pages/resource-detail.page.ts
  lib/types/material.ts
  lib/utils/preview-generator.ts
  messages/de.json
  messages/en.json
Due: eslint, typescript

feat: upload wizard improvements — preview modal, error links, i18n, and a11y
  app/[locale]/hochladen/page.tsx
  components/upload/EnhancedCurriculumSelector.tsx
  components/upload/PublishPreviewModal.tsx
  components/upload/StepNavigationBar.tsx
  components/upload/index.ts
  joelimprovements-status.md
  messages/de.json
  messages/en.json
Due: eslint, typescript

refactor: decompose materialien page and LP21FilterSidebar into smaller modules
  app/[locale]/materialien/page.tsx
  components/search/FilterChips.tsx
  components/search/LP21FilterSidebar.tsx
  components/search/MobileFilterDrawer.tsx
  components/search/ResultsControlBar.tsx
  components/search/filters/CantonFilter.tsx
  components/search/filters/CollapsibleSection.tsx
  components/search/filters/DialectToggle.tsx
  components/search/filters/FachbereichAccordion.tsx
  components/search/filters/FormatFilter.tsx
  components/search/filters/PriceFilter.tsx
  components/search/filters/SearchTypeTabs.tsx
  components/search/filters/SmartSearchSuggestions.tsx
  components/search/filters/ZyklusToggle.tsx
  components/search/filters/index.ts
  components/ui/EmptySearchState.tsx
  lib/hooks/useFollowing.ts
  lib/hooks/useWishlist.ts
  lib/types/search.ts
Due: eslint, typescript

fix: prevent "0 Materialien gefunden" counter flash on tab switch
  lib/hooks/useMaterialSearch.ts
Due: eslint, typescript

chore: consolidate documentation under spec/ and clean up root
  .gitignore
  AGENTS.md
  PROMPT_build.md
  PROMPT_plan.md
  console-errors.log
  spec/archive/account-structure-refactor.md
  spec/archive/claude-workflow.md
  spec/archive/i18n-plan.md
  spec/archive/joelimprovements-status.md
  spec/archive/oauth-integration.md
  spec/development-env.md
  spec/index.md
  spec/observability-implementation.md
  spec/production-env.md
Due: none

chore: consolidate documentation under spec/ and clean up root (#83)
  .gitignore
  AGENTS.md
  PROMPT_build.md
  PROMPT_plan.md
  console-errors.log
  spec/archive/account-structure-refactor.md
  spec/archive/claude-workflow.md
  spec/archive/i18n-plan.md
  spec/archive/joelimprovements-status.md
  spec/archive/oauth-integration.md
  spec/development-env.md
  spec/index.md
  spec/observability-implementation.md
  spec/production-env.md
Due: none

chore: reorganize spec/, update CLAUDE.md, and improve CI
  .github/workflows/ci.yml
  .github/workflows/doc-check.yml
  .github/workflows/e2e.yml
  CLAUDE.md
  spec/archive/observability-plan.md
  spec/index.md
  spec/observability-implementation.md
  spec/plans/joelimprovements-status.md
  spec/plans/roadmap.md
  spec/plans/s3-storage.md
  spec/plans/stripe-connect-implementation-plan.md
  spec/plans/ui-improvements.md
  spec/reference/cost-analysis.md
  spec/reference/design-system.md
  spec/reference/development-env.md
  spec/reference/e2e-testing.md
  spec/reference/features.md
  spec/reference/lp21-filter-sidebar.md
  spec/reference/observability.md
  spec/reference/production-env.md
  spec/reference/stripe-connect-architecture.md
Due: none

chore: move doc-check from CI to local pre-push hook
  .github/workflows/doc-check.yml
  .husky/pre-push
Due: none

chore: reorganize spec/, update CLAUDE.md, and improve CI (#84)
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .husky/pre-push
  CLAUDE.md
  spec/archive/observability-plan.md
  spec/index.md
  spec/observability-implementation.md
  spec/plans/joelimprovements-status.md
  spec/plans/roadmap.md
  spec/plans/s3-storage.md
  spec/plans/stripe-connect-implementation-plan.md
  spec/plans/ui-improvements.md
  spec/reference/cost-analysis.md
  spec/reference/design-system.md
  spec/reference/development-env.md
  spec/reference/e2e-testing.md
  spec/reference/features.md
  spec/reference/lp21-filter-sidebar.md
  spec/reference/observability.md
  spec/reference/production-env.md
  spec/reference/stripe-connect-architecture.md
Due: none

feat: auth security improvements and Google OAuth onboarding flow
  app/[locale]/anmelden/page.tsx
  app/[locale]/forgot-password/page.tsx
  app/[locale]/konto/layout.tsx
  app/[locale]/reset-password/page.tsx
  app/[locale]/willkommen/page.tsx
  app/api/auth/forgot-password/route.ts
  app/api/auth/reset-password/route.ts
  lib/auth.ts
  lib/rateLimit.ts
  messages/de.json
  messages/en.json
Due: eslint, typescript

docs: tick off completed auth tasks in joel improvements status
  spec/archive/joelimprovements-status.md
Due: none

chore: enforce tests in git hooks and validate:all
  .husky/pre-commit
  .husky/pre-push
  package.json
Due: none
